//OUR STORE

.our-store {
  display: grid;
  grid-template-columns: 50% 50%;
  background: $white;

  .our-store-left {
    // background: rgb(0, 174, 255);
    border: 1px dashed $brown1;
    padding: 20px;
    margin: 20px;

    h2 {
      margin-top: 10px;
    }

    h3 {
      margin: -10px 0;
      padding: 0 0 20px;
    }

    p {
      margin: 0 0 50px;
    }

    .icon {
      margin: 10px 0;
    }

    h4 {
      font-family: "Poppins-Medium";
    }

    h5 {
      font-family: "Roboto-Light";
      font-weight: 100;
      color: $grey3;
    }
  }

  .our-store-right {
    background: url(./assets/img/store-01.jpg) no-repeat center/cover;
    // height: 100%;
    // width: 100%;
    display: block;
  }
}

//MENU

.menu {
  position: relative;
  background: url(./assets/img/bg-menu-01.jpg) no-repeat center/cover;
  // background: $black1;
  height: 1100px;
  margin-top: 0px;

  .menu-top {
    height: 300px;
    background: $black1;

    h2 {
      padding-top: 50px;
    }
  }
  img {
    padding: 20px 0;
  }

  .type-of-menu {
    max-width: 1000px;
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;

    margin: 0 auto;
  }
}
.list-of-dish {
  margin: 0 auto;
  position: absolute;
  width: 75%;
  max-width: 1000px;
  background: $white;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: start;
  top: 200px;
  left: 50%; /* Centre la liste des plats horizontalement */
  transform: translateX(
    -50%
  ); /* Ajuste la position en fonction de la moitié de la largeur */
  border: solid 2px;

  li {
    // max-width: 1000px;
    // display: flex;

    // align-items: center;
    display: grid;
    grid-template-columns: 25% 55% 20%;
    align-items: center;
    border-bottom: 1px dashed $grey1;

    img {
      border-radius: 100px;
    }

    div {
      margin: 0 10px 0 10px;
    }

    .dish-item-content {
      text-align: left;

      h3 {
        font-size: 1rem;
      }
    }
  }
}
