@charset "UTF-8";
@font-face {
  font-family: "Merriweather-Light";
  src: url(../fonts/Merriweather-Light.ttf);
}
@font-face {
  font-family: "Inter-ExtraBold";
  src: url(../fonts/Inter-ExtraBold.ttf);
}
body {
  background: url(../img/bg.jpg) no-repeat fixed center/cover;
  margin: 0 auto;
  min-width: 800px;
  max-width: 1400px;
}

* {
  font-family: "Merriweather-Light";
  padding: 0;
  margin: 0 20px;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-block: 0;
  outline: none;
  color: rgb(23, 23, 23);
  text-decoration: none;
}

h1 {
  font-size: 3rem;
  font-family: "Inter-ExtraBold";
  text-transform: uppercase;
  color: rgb(241, 241, 241);
  letter-spacing: 5px;
  margin: 0 auto;
}

h2 {
  font-size: 2rem;
  font-family: "Inter-ExtraBold";
  text-transform: uppercase;
  color: rgb(23, 23, 23);
  letter-spacing: 2px;
}

h3 {
  font-size: 3rem;
  font-family: "Inter-ExtraBold";
  text-transform: uppercase;
  color: rgb(23, 23, 23);
  letter-spacing: 5px;
}

h4 {
  font-size: 1rem;
  color: rgb(23, 23, 23);
  font-weight: 100;
}

h5 {
  font-size: 1.5rem;
  color: rgb(23, 23, 23);
  text-transform: uppercase;
}

p {
  font-size: 0.9rem;
  color: rgb(23, 23, 23);
  font-style: italic;
  line-height: 2.5;
}

.button {
  border: 1px solid rgb(23, 23, 23);
  background: transparent;
  padding: 10px 20px;
  text-decoration: none;
  color: rgb(23, 23, 23);
  font-size: 0.7rem;
  font-family: "Inter-ExtraBold";
  text-transform: uppercase;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.button:hover {
  background: rgba(38, 0, 255, 0.76);
  border-color: rgba(38, 0, 255, 0.76);
  color: rgb(241, 241, 241);
}

.header i {
  border: 1px solid rgb(241, 241, 241);
  padding: 10px;
  border-radius: 100px;
  text-decoration: none;
  color: rgb(241, 241, 241);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.header i:hover {
  background: rgba(38, 0, 255, 0.76);
  border-color: rgba(38, 0, 255, 0.76);
}

.header {
  margin: 100px auto;
  text-align: center;
  max-width: 500px;
}

.header h1,
.header p,
.header i {
  margin-bottom: 30px; /* Espacement entre chaque élément */
}

nav {
  background-color: rgba(255, 255, 255, 0.13);
  border: 1px solid transparent;
  padding: 0px 0px;
}

ul {
  padding: 10px 0;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 auto;
  min-width: 800px;
  max-width: 1400px;
}

.nav-left {
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-left li {
  padding: 0px;
  background: transparent;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
.nav-left li a,
.nav-left li i {
  margin: 0;
  padding: 0;
}
.nav-left li a:hover {
  padding: 10px 10px;
  background: lightgray;
}

.nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-right li {
  margin: 0;
}
.nav-right a {
  margin: 0;
  padding: 0;
}
.nav-right i {
  color: rgb(241, 241, 241);
}

.section-all {
  background: white;
}

.section-1,
.section-1 h4,
.section-1 h2,
.section-1 p,
.img-section-1 {
  text-align: center;
  margin: 0 auto;
  padding: 25px 0;
}

.section-1 h4 {
  position: relative;
}
.section-1 h4:before {
  content: "";
  position: absolute;
  width: 30%;
  height: 1px;
  background: rgba(0, 0, 0, 0.082);
  top: 40px;
  left: 20%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.section-1 h4:after {
  content: "";
  position: absolute;
  width: 30%;
  height: 1px;
  background: rgba(0, 0, 0, 0.082);
  top: 40px;
  right: -10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.section-1 h2 {
  text-align: center;
  max-width: 400px;
}
.section-1 p {
  max-width: 400px;
  text-align: center;
}
.section-1 .img-section-1 {
  display: block;
  background: url(/Nicodeme-C.github.io/projet-sass1/assets/img/pic01.jpg) no-repeat center/cover;
  height: 60vh;
  margin: 10px 50px 30px 50px;
  padding-bottom: 50px;
}/*# sourceMappingURL=index.css.map */