body {
  overflow: hidden;
  min-height: 100vh;
  cursor: crosshair;
  background-color: #e0e0e0;
}

.bubble {
  position: absolute;
  border-radius: 300px;
  background: rgba(255, 166, 0, 0.6);
  opacity: 0;
  animation: anim 8s forwards;
  filter: hue-rotate(0deg);
}

@keyframes anim {
  to {
    top: -250px;
    left: var(--left);
    opacity: 1;
    filter: hue-rotate(360deg);
  }
}

.timeofgame {
  display: flex;
}

.start-screen {
  /* position: absolute; */

  text-align: center;
}
.time-display {
  padding: 0;
  margin: 0, auto;
  font-size: 2rem;
}

#start-button {
  border-radius: 500px;
  padding: 20px 50px;
  background-color: green;
  color: white;
}

.score-display {
  margin: 0 auto;
}

h3 {
  text-align: center;
  color: rgb(133, 122, 122);
  margin-top: 50px;
  font-size: 4rem;

  opacity: 1;
}
