@charset "UTF-8";
@font-face {
  font-family: "Merriweather-Light";
  src: url(./assets/fonts/Merriweather-Light.ttf);
}
@font-face {
  font-family: "Inter-ExtraBold";
  src: url(./assets/fonts/Inter-ExtraBold.ttf);
}
body {
  background: url(./assets/img/bg.jpg) no-repeat fixed center/cover;
  margin: 0 auto;
  max-width: 1200px;
}

* {
  font-family: "Merriweather-Light";
  padding: 0;
  margin: 0 0px;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-block: 0;
  outline: none;
  color: rgb(23, 23, 23);
  text-decoration: none;
}

h1 {
  font-size: 3rem;
  font-family: "Inter-ExtraBold";
  text-transform: uppercase;
  color: rgb(241, 241, 241);
  letter-spacing: 5px;
  margin: 0 auto;
}

h2 {
  font-size: 2rem;
  font-family: "Inter-ExtraBold";
  text-transform: uppercase;
  color: rgb(23, 23, 23);
  letter-spacing: 2px;
}

h3 {
  font-size: 1.2rem;
  font-family: "Inter-ExtraBold";
  text-transform: uppercase;
  color: rgb(23, 23, 23);
  letter-spacing: 4px;
}

h4 {
  font-size: 1rem;
  color: rgb(23, 23, 23);
  font-weight: 100;
}

h5 {
  font-size: 1.5rem;
  color: rgb(23, 23, 23);
  text-transform: uppercase;
}

p {
  font-size: 0.9rem;
  color: rgb(23, 23, 23);
  font-style: italic;
  line-height: 2.5;
}

.button {
  border: 1px solid rgb(23, 23, 23);
  background: transparent;
  padding: 10px 20px;
  text-decoration: none;
  color: rgb(23, 23, 23);
  font-size: 0.7rem;
  font-family: "Inter-ExtraBold";
  text-transform: uppercase;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.button:hover {
  background: rgba(38, 0, 255, 0.76);
  border-color: rgba(38, 0, 255, 0.76);
  color: rgb(241, 241, 241);
}

.header i {
  border: 1px solid rgb(241, 241, 241);
  padding: 10px;
  border-radius: 100px;
  text-decoration: none;
  color: rgb(241, 241, 241);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.header i:hover {
  background: rgba(38, 0, 255, 0.76);
  border-color: rgba(38, 0, 255, 0.76);
}

form {
  text-align: center;
  position: relative;
  padding: 0px 0;
}

.formulaire {
  background: rgb(241, 241, 241);
  max-width: 1200px; /* Ajustez la largeur maximale selon vos besoins */
  text-align: left;
  padding: 50px 25px 30px 0;
}
.formulaire .name,
.formulaire .email,
.formulaire .message {
  font-size: 0.9rem;
  font-family: "Inter-ExtraBold";
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.header {
  margin: 100px auto;
  text-align: center;
  max-width: 500px;
}
.header h1,
.header p,
.header i {
  margin-bottom: 30px; /* Espacement entre chaque élément */
}
.header p {
  color: rgb(241, 241, 241);
}

nav {
  background-color: rgba(255, 255, 255, 0.13);
  border: 1px solid transparent;
  max-width: 1200px;
  margin: 0 auto;
}
nav ul {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.nav-left {
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-left li {
  padding: 0px;
  background: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 0 20px;
}
.nav-left li:hover {
  background: lightgray;
}

.nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-right li {
  margin: 0;
  margin: 0 20px;
}
.nav-right li a:hover {
  background: lightgray;
}
.nav-right i {
  color: rgb(241, 241, 241);
}

.section-all {
  background: rgb(241, 241, 241);
  text-align: center;
  margin: 0 auto;
  padding: 50px 0 30px 0;
}

.section-1 {
  text-align: center;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 0 60px 0; /* Espacement général de la section */
}
.section-1 p {
  text-align: center;
  margin: 0 auto;
  max-width: 400px;
  padding: 0 0 25px 0;
}

.section-1 h4 {
  position: relative;
}
.section-1 h4:before {
  content: "";
  position: absolute;
  width: 30%;
  height: 1px;
  background: rgba(0, 0, 0, 0.082);
  top: 15px;
  left: 20%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.section-1 h4:after {
  content: "";
  position: absolute;
  width: 30%;
  height: 1px;
  background: rgba(0, 0, 0, 0.082);
  top: 15px;
  right: -10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.section-1 h2 {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px 0;
}
.section-1 .img-section-1 {
  display: block;
  background: url(./assets/img/pic01.jpg) no-repeat center/cover;
  height: 60vh;
  margin: 10px 50px 50px 50px;
}

.section-2-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.082);
  margin: 0px auto;
  padding-top: 50px;
}

.section-2,
.section-3 {
  max-width: 1000px;
  margin: 0 10px;
  padding: 25px 0;
}
.section-2 h4,
.section-2 h3,
.section-2 p,
.section-3 h4,
.section-3 h3,
.section-3 p {
  margin-bottom: 30px; /* Espacement entre chaque élément */
  max-width: 800px;
}
.section-2 h3,
.section-3 h3 {
  max-width: 800px;
  margin: 0 auto;
  max-inline-size: 2;
}
.section-2 p,
.section-3 p {
  text-align: justify;
  margin: 0 25px;
  padding-bottom: 25px;
}

.section-2 {
  position: relative;
}
.section-2:before {
  content: "";
  position: absolute;
  height: 114.5%; /* Hauteur de 100% pour couvrir toute la hauteur de l'élément parent */
  width: 1px;
  background: rgba(0, 0, 0, 0.082);
  top: -50px;
  right: -10px;
}

.img-section-2,
.img-section-3 {
  display: block;
  height: 25vh;
  margin: 10px 20px 30px 20px;
  padding-bottom: 50px;
}

.img-section-2 {
  background: url(./assets/img/pic02.jpg) no-repeat center/cover;
}

.img-section-3 {
  background: url(./assets/img/pic03.jpg) no-repeat center/cover;
}

footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgb(241, 241, 241);
  text-align: center;
  margin: 30px auto;
  max-width: 1200px; /* Ajustez la largeur maximale selon vos besoins */
  padding: 0;
}
footer::before {
  content: "";
  position: absolute;
  height: 114.5%; /* Hauteur de 100% pour couvrir toute la hauteur de l'élément parent */
  width: 1px;
  background: rgba(0, 0, 0, 0.082);
  top: -1px;
  right: 600px;
}
footer ul {
  margin: 0 auto;
}/*# sourceMappingURL=index.css.map */